@import '~@angular/material/theming';
@include mat-core();

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-orange);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-brown);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #4c4c4c;}

header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;
  color: aliceblue;
  overflow: hidden;
}
mat-sidenav-container {
  height: calc(100vh - 90px);
}
.full-width {
  width: 100%;
}
.container {
  padding: 0 15px;
  position: relative;
}
.cursor-pointer {
  cursor: pointer;
}
.float-left {float: left;}
.float-right {float: right;}
.border {
  border: 2px solid #e27a0b;
}
.p-2 {
  padding: 1em;
}
.py-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.px-2 {
  padding-left: 1em;
  padding-right: 1em;
}
.pt-2 {
  padding-top: 1em;
}
.pb-2 {
  padding-bottom: 1em;
}
.mx-2 {
  margin: 0 1em;
}
.bg-black {
  background-color: black;
}
.dateList {
  position: absolute;
  left: 10px;
  top: 0;
  max-width: 170px;
  display: flex !important;
  flex-flow: column;
  height: calc(100vh - 110px);
  overflow: hidden;
  padding-right: 15px;
  border-right: 2px solid #4c4c4c;
}
.dateList mat-list-item {
  font-size: 13px !important;
  display: inline-flex !important;
  margin-bottom: 3px;
}
.device-info {
  padding-left: 190px;
  max-width: 100%;
}
.socket-init {
  position: absolute;
  top: 30px;
  right: 20px;
}
.sidenav {
  width: 400px;
}
.text-orange {
  color: #ffcc00;
}
mat-list-item.active {
  background-color: #ff980020;
}
mat-list-item:hover {
  background-color: #ff980020;
}
.urls-nav > div {
  border: 1px solid #cacaca;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 6px;
}
.urls-nav > div.active ,.urls-nav > div:hover {
  background-color: #ff980020;
}
.urls-nav > div h4 {
  margin: 0 5px;
}
.mat-progress-bar {
  width: 300px !important;
}
.console {
  position: fixed;
  bottom: 10px;
  right: 15px;
  max-height: 50px;
  overflow-y: scroll;
  border: 1px solid #e27a0b50;
  padding: 10px;
  max-width: 300px;
}
.admin-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.login-form {
  max-width: 50vw;
  margin: 100px 25vw;
  border: 2px solid #ffcc00;
  padding: 30px;
  mat-form-field {
    width: 100%;
    margin: 10px;
    color: #e27a0b;
  }
  button {
    margin: 0 auto;
  }
}
.device-form {
  mat-form-field {
    margin: 0 2px;
  }
}
.device-table {
  width: 100%;
  margin: 20px 0;
  tr {
    border: 1px solid #cacaca;
  }
  td, th {
    padding: 4px;
    text-align: center;
  }
}
mat-icon {
  cursor: pointer;
}
