@import '~@angular/material/theming';

@include mat-core();

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-orange);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-brown);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

html, body {
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: Arial, "Helvetica Neue", sans-serif !important;
  background-color: #4c4c4c;
  color: #cacaca;
  position: absolute;
  width: 100%;
}

header {
  background-color: #282828;
  height: 100px;
  color: aliceblue;
  overflow: hidden;
}

mat-sidenav-container {
  height: calc(100vh - 100px);
}

.full-width {
  width: 100%;
}

.container {
  padding: 0 15px;
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border {
  border: 2px solid #e27a0b;
}
.display_ {
  &inline_block {
    display: inline-block;
  }
}
.color{
  &-green{
    color: darkgreen;
  }
  &-red{
    color: #f44336;
  }
  &-muted{
    color: #424242;
  }
}
.p {padding: 0.5em}
.pl {padding-left: 0.5em}
.pr {padding-right: 0.5em}
.pt {padding-top: 0.5em}
.pb {padding-bottom: 0.5em}
.p-2 {padding: 1em;}
.py-2 {padding-top: 1em; padding-bottom: 1em;}
.px-2 {padding-left: 1em; padding-right: 1em;}
.pt-2 {padding-top: 1em;}
.pb-2 {padding-bottom: 1em;}
.pl-2 {padding-left: 1em;}
.pr-2 {padding-right: 1em;}

.mb-1 {margin-bottom: 0.5em;}
.mt-1 {margin-top: 0.5em;}
.mx-2 {margin: 0 1em;}

.my-2 {margin: 1em 0;}

.bg-black {
  background-color: black;
}

.dateList {
  position: absolute;
  left: 10px;
  top: 0;
  width: 150px;
  max-width: 150px;
  display: flex !important;
  flex-flow: column;
  height: calc(100vh - 115px);
  overflow: hidden;
  padding-right: 5px;
  border-right: 2px solid #4c4c4c;
  & h4{
    margin: 8px 0 20px 0;
  }
}

.dateList mat-list-item {
  width: 135px !important;
  font-size: 0.9em !important;
  display: inline-flex !important;
  margin-bottom: 3px;
}

.device-info {
  padding-left: 155px;
  padding-top: 25px;
  max-width: 100%;
  h3 {
    color: #89929A;
    background: #282828;
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 8px 8px 0 0;
  }
  h2 {
    color: #ffffff;
  }
}
mat-card {
  background: #30333f !important;
}
.socket-init {
  position: absolute;
  top: 30px;
  right: 20px;
}

.sidenav {
  width: 400px;
}

.text-orange {
  color: #ffcc00;
}
mat-list-item, .urls-nav > div  {
  background-color: #30333f;
  color: #8dadbe !important;
  & h4{
    color: #ffffff;
  }
}
.urls-nav > div.active, mat-list-item.active {
  background-color: #3D2E30;
}
.urls-nav > div:hover, mat-list-item:hover {
  background-color: #50363f;
}
mat-list-item.active, mat-list-item:hover, .urls-nav > div.active, .urls-nav > div:hover {
  box-shadow: 0px 1px 0px 1px #333;
}
.urls-nav > div {
  padding: 5px;
  margin-bottom: 6px;
}

.urls-nav > div h4 {
  margin: 0 5px;
}

.mat-sidenav-content {
  background-color: #4c4c4c !important;
  padding-bottom: 10px;
}

.console {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 15px;
  height: 280px;
  overflow: hidden;
  border: 1px solid #e27a0b50;
  width: 360px;
  & ng-scrollbar {
    height: 200px;
  }
  &.active {
    display: block;
    z-index: 998;
  }
  &_btn {
    position: absolute !important;
    right: 5px;
    bottom: 5px;
    z-index: 999;
  }
}
.tooltip-info {
  background: #8dadbe;
  color: #000000;
  font-size: 1em !important;
  &_icon{
    color: #8dadbe;
    height: 26px !important;
    vertical-align: middle;
  }
}
.admin-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.login-form {
  max-width: 50vw;
  margin: 100px 25vw;
  border: 2px solid #ffcc00;
  padding: 30px;

  mat-form-field {
    width: 100%;
    margin: 10px;
    color: #e27a0b;
  }

  button {
    margin: 0 auto;
  }
}

.device-form {
  mat-form-field {
    margin: 0 2px;
  }
}

.device-table {
  width: 100%;
  margin: 20px 0;
  border-spacing: 0;

  tr {
    border: 1px solid #cacaca;
  }

  td, th {
    padding: 4px;
    text-align: center;
    border: 1px solid #cacaca;
  }
}

mat-icon {
  cursor: pointer;
}
.mat-card {
  border-radius: 0 0 8px 8px !important;
}
.error-text {
  color: #cd4a4c;
}
.text {
  &_white{
    color: #ffffff;
  }
  &_dark-blue {
    color: #8dadbe;
  }
  &_light-grey {
    color: #999da0;
  }
  &_light-brown {
    color: #A58566;
  }
}
.disable-color {
  color: #898989;
}

.btnGetInfo {
  position: absolute;
  right: 40px;
  top: 10px;
}
.cartridge_toner {
  td{
    padding: 2px 0;
  }
  td:nth-child(2) {
    padding: 4px 0.5em 0;
  }
  .mat-progress-bar {
    width: 200px !important;
    height: 1.2em !important;
    display: inline-block !important;
  }
  .mat-progress-bar.black .mat-progress-bar-fill::after {
    background-color: #000000;
  }
  .mat-progress-bar.yellow .mat-progress-bar-fill::after {
    background-color: #fdff02;
  }
  .mat-progress-bar.magenta .mat-progress-bar-fill::after {
    background-color: #fe0298;
  }
  .mat-progress-bar.blue .mat-progress-bar-fill::after {
    background-color: #0199fc;
  }
  .mat-progress-bar.cyan .mat-progress-bar-fill::after {
    background-color: #0199fc;
  }
}
