@import '~@angular/material/theming';
@include mat-core();

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-orange);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-brown);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header {
  background-color: rgba(0, 0, 0, 0.7);
  height: 90px;
  color: aliceblue;
}
mat-sidenav-container {
  height: calc(100vh - 90px);
}
.full-width {
  width: 100%;
}
.container {
  padding: 0 15px;
  position: relative;
}
.cursor-pointer {
  cursor: pointer;
}
.border {
  border: 2px solid #e27a0b;
}
.py-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.px-2 {
  padding-left: 1em;
  padding-right: 1em;
}
.pt-2 {
  padding-top: 1em;
}
.pb-2 {
  padding-bottom: 1em;
}
.bg-black {
  background-color: black;
}
.dateList {
  position: absolute;
  left: 10px;
  top: 0;
  max-width: 170px;
  display: flex !important;
  flex-flow: column;
  height: calc(100vh - 110px);
  overflow: hidden;
  padding-right: 5px;
}
.dateList mat-list-item {
  font-size: 13px !important;
  display: inline-flex !important;
  margin-bottom: 3px;
}
.device-info {
  padding-left: 180px;
  max-width: 400px;
}
.socket-init {
  position: absolute;
  top: 30px;
  right: 20px;
}
.sidenav {
  width: 300px;
}
.text-orange {
  color: #ffcc00;
}
mat-list-item.active {
  background-color: #ff980020;
}
mat-list-item:hover {
  background-color: #ff980020;
}
