<mat-form-field class="" style="width: 250px;">
  <input type="text" placeholder="Выбрать офис" aria-label="Number" matInput [formControl]="officeControl"
         [matAutocomplete]="auto">
  <mat-hint align="start" *ngIf="edit === 'true' && id"><strong>Вы меняете название</strong> </mat-hint>
  <mat-hint align="start" *ngIf="edit === 'true' && !id"><strong>Вы добавите новый офис</strong> </mat-hint>
  <mat-hint align="end" *ngIf="edit === 'true' && id" >ID офиса: {{id}}</mat-hint>
  <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="edit === 'true'"
          (click)="officeControl.setValue(''); id = null"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filtered | async" [value]="option['name']"
                (click)="toggle(option['id'])">
      {{option['name']}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button mat-button *ngIf="edit === 'true'" mat-icon-button (click)="saveOffice()" color="primary">
  <mat-icon>save</mat-icon>
</button>
<span class="text-orange" *ngIf="edit === 'true'">{{result}}</span>
