<div class="py-2">
  <button *ngIf="devices.length > 0" mat-raised-button (click)="sendQuery('all')" color="primary">Получить данные всех устройст
  </button>
</div>
<div class="py-2">
  <mat-form-field>
    <input type="text" placeholder="Выбрать местоположение" aria-label="Number" matInput [formControl]="placeControl"
           [matAutocomplete]="auto">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="placeControl.value !== ''"
            (click)="placeControl.setValue(''); setPlace('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let place of filtered | async" [value]="place"
                  (click)="setPlace(place)">
        {{place}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="py-2">
  <button *ngIf="initDevices.length > 0" mat-raised-button (click)="sendQuery('list')" color="primary">Получить данные по
    списку
  </button>
</div>
<div class="urls-nav" *ngIf="initDevices.length > 0">
  <div *ngFor="let item of initDevices" (click)="toggle(item['id']);" class="cursor-pointer"
       [ngClass]="cdid === item['id']? 'active': ''">
    <ng-container *ngFor="let time of timeouts">
      <div class="spin_circle spin_size-3 float-right" *ngIf="time.id === item.id"></div>
    </ng-container>
    <h4>{{item['productname']}}</h4>
    <small class="text_dark-blue pl">{{item['placement']}}</small><br>
    <table>
      <tr>
        <td><small class="text_light-grey">Сетевой адрес:</small></td>
        <td><small class="text_light-brown">{{item['url']}}</small></td>
      </tr>
      <tr>
        <td><small class="text_light-grey">Серийный номер:</small></td>
        <td><small class="text_light-brown">{{item['sn']}}</small></td>
      </tr>
    </table>
   </div>
</div>
