<div class="py-2">
  <button *ngIf="devices.length > 0" mat-raised-button (click)="sendQuery('all')" color="primary">Получить данные всех устройст
  </button>
</div>
<div class="py-2">
  <mat-form-field>
    <mat-select [(value)]="selected">
      <mat-option (click)="setPlace('')" [value]="'Все'">Все</mat-option>
      <mat-option *ngFor="let place of places" (click)="setPlace(place)" [value]="place">
        {{place}}
      </mat-option>
    </mat-select>
    <mat-hint>Выбрать местоположение</mat-hint>
  </mat-form-field>
</div>
<div class="py-2">
  <button *ngIf="initDevices.length > 0" mat-raised-button (click)="sendQuery('list')" color="primary">Получить данные по
    списку
  </button>
</div>
<div class="urls-nav" *ngIf="initDevices.length > 0">
  <div *ngFor="let item of initDevices" (click)="toggle(item['id']);" class="cursor-pointer"
       [ngClass]="cdid === item['id']? 'active': ''">
    <h4>{{item['productname']}}</h4>
    <small class="text_dark-blue pl">{{item['placement']}}</small><br>
    <table>
      <tr>
        <td><small class="text_light-grey">Сетевой адрес:</small></td>
        <td><small class="text_light-brown">{{item['url']}}</small></td>
      </tr>
      <tr>
        <td><small class="text_light-grey">Серийный номер:</small></td>
        <td><small class="text_light-brown">{{item['sn']}}</small></td>
      </tr>
    </table>
   </div>
</div>
