<div class="">
  <header class="container">
    <div class="pt-2">
      <mat-form-field class="" style="width: 250px;">
        <input type="text" placeholder="Поиск помпании" aria-label="Number" matInput [formControl]="customerControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredCustomers | async" [value]="option['title']"
                      (click)="setCustomer(option['id'])">
            {{option['title']}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="socket-init">
      <button mat-raised-button id="btnInit" [disabled]="cid === 0">Получить данные с устройств</button>
    </div>
  </header>
  <mat-sidenav-container *ngIf="customers">
    <mat-sidenav opened mode="side" class="px-2 sidenav">
      <h3>Офис:</h3>
      <mat-form-field class="full-width" *ngIf="clients.length > 0">
        <mat-select>
          <mat-option *ngFor="let option of clients" [value]="option['name']" (click)="setClient(option['id'])">
            {{option['name']}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="urls-nav" *ngIf="devices.length > 0">
        <div *ngFor="let info of devices" (click)="setInfo(info['url'])">
          <h4 class="cursor-pointer">{{info['title']}}
            <small class="text-orange">
              {{info['url']}} <br> s/n {{info['sn']}}
            </small>
          </h4>
        </div>
      </div>
      <input type="hidden" id="clientId" [value]="cid">
      <div class="console" id="console"></div>
    </mat-sidenav>
    <div class="container">
      <ng-container *ngIf="infoUrl !== ''">
        <mat-list role="list" class="dateList">
          <h4>Даты:</h4>
          <mat-list-item *ngFor="let date of dates, let i = index" role="listitem" (click)="setDate(date); toggleActive(i)"
                         [ngClass]="i===dataLI ? 'cursor-pointer border active': 'cursor-pointer border'">
            {{date | date:'yyyy-MM-dd HH:mm:ss'}}
          </mat-list-item>
        </mat-list>
        <div class="device-info">&nbsp;
          <ng-container *ngIf="device">
            <h2>{{device['productname']}} <small>{{device['datetime'] | date:'yyyy-MM-dd HH:mm:ss'}}</small></h2>
            <p>Статус: {{device['status']}}</p>
            <p>Серийный номер: {{device['serialnumber']}}</p>
            <p>Сетевой адрес: {{device['url']}}</p>
            <ng-container *ngFor="let color of device['cartridge']">
              <p *ngIf="color['black']">Черный {{color['black'].replace('%', '')}}<br><br>
                <mat-progress-bar mode="determinate" [value]="color['black'].replace('%', '')"
                                  color="warn"></mat-progress-bar>
              </p>
              <p *ngIf="color['yellow']">Желтый {{color['yellow'].replace('%', '')}}<br><br>
                <mat-progress-bar mode="determinate" [value]="color['yellow'].replace('%', '')"
                                  color="warn"></mat-progress-bar>
              </p>
              <p *ngIf="color['magenta']">Пурпурный {{color['magenta'].replace('%', '')}}<br><br>
                <mat-progress-bar mode="determinate" [value]="color['magenta'].replace('%', '')"
                                  color="warn"></mat-progress-bar>
              </p>
              <p *ngIf="color['blue']">Голубой {{color['blue'].replace('%', '')}}<br><br>
                <mat-progress-bar mode="determinate" [value]="color['blue'].replace('%', '')"
                                  color="warn"></mat-progress-bar>
              </p>
            </ng-container>
            <p>Цикл механизма: {{device['printcycles']}}</p>
            <p>Счетчик технического обслуживания:
              <ng-container *ngIf="device['kit']">
                <ng-container *ngIf="device['kit'][0]['adfcycles']">{{device['kit'][0]['adfcycles']}}</ng-container>
                <ng-container
                  *ngIf="device['kit'][0]['maintenanceKitCount']">{{device['kit'][0]['maintenanceKitCount']}}</ng-container>
              </ng-container>
            </p>
            <p>Цикл сканирования: {{device['scancycles']}}</p>
            <h4>Лог:</h4>
            <table>
              <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </mat-sidenav-container>
</div>
