<div class="admin-panel">
  <ng-container *ngIf="!isLogIn">
    <div class="login-form bg-black">
      <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <mat-form-field>
          <input matInput type="text" placeholder="Login" name="login" formControlName="loginControl">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" formControlName="passControl">
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Вход</button>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="isLogIn">
    <header class="container">
      <div class="p-2 float-left">
        <mat-form-field class="" style="width: 250px;">
          <input type="text" placeholder="Поиск помпании" aria-label="Number" matInput [formControl]="customerControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredCustomers | async" [value]="option['title']"
                        (click)="setCustomer(option['id'])">
              {{option['title']}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix *ngIf="cuid" (click)="setCompany(cuid)">mode_edit</mat-icon>
          <mat-hint>ID компании: {{cuid}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="p-2 float-left">
        <form [formGroup]="companyForm" (ngSubmit)="addCompany()">
          <mat-form-field>
            <input matInput placeholder="Название" name="title" formControlName="title" required>
            <mat-icon *ngIf="companyForm.controls['title'].value !== ''" matSuffix (click)="clear('company')">close</mat-icon>
            <mat-hint *ngIf="reqCompany === undefined">Добавить новую компанию</mat-hint>
            <mat-hint *ngIf="reqCompany !== undefined" class="text-orange">{{reqCompany['status']}}
              : {{reqCompany['result']}}</mat-hint>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" class="px-2" *ngIf="!saveCompany"
                  [disabled]="companyForm.controls['title'].hasError('required')">Добавить
          </button>
          <button mat-raised-button type="submit" color="primary" class="px-2" *ngIf="saveCompany"
                  [disabled]="companyForm.controls['title'].hasError('required')">Сохранить
          </button>
        </form>
      </div>
      <div class="socket-init">
        <button mat-raised-button id="btnInit" [disabled]="cid === 0">Получить данные с устройств</button>
        <input type="hidden" id="info_query" [value]="getQuery">
        <!--button mat-raised-button id="addDevice">Добавить</button-->
        <button mat-raised-button color="accent" class="mx-2" (click)="go('device')">Фронт</button>
        <button mat-raised-button color="accent" class="mx-2" (click)="go('device_exit')">Выход</button>
      </div>
    </header>
    <mat-sidenav-container *ngIf="customers">
      <input type="hidden" id="clientId" [value]="cid">
      <div class="console" id="console"></div>
      <mat-sidenav opened mode="side" class="px-2 sidenav">
        <h3>Офис: </h3>
        <mat-form-field class="full-width" *ngIf="clients.length > 0">
          <mat-select>
            <mat-option *ngFor="let option of clients" [value]="option['name']" (click)="setClient(option['id'])">
              {{option['name']}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix *ngIf="cid" (click)="setClients(cid)">mode_edit</mat-icon>
          <mat-hint>ID клиента: {{cid}}</mat-hint>
        </mat-form-field>

        <form [formGroup]="clientForm" (ngSubmit)="addClient()" *ngIf="cuid !== 0">
          <mat-form-field>
            <input matInput placeholder="Название" name="name" formControlName="name" required>
            <mat-icon *ngIf="clientForm.controls['name'].value !== ''" matSuffix (click)="clear('client')">close</mat-icon>
            <mat-hint *ngIf="reqClient === undefined && !saveClient">Добавить новый клиент</mat-hint>
            <mat-hint *ngIf="reqClient === undefined && saveClient">Сохранить клиент</mat-hint>
            <mat-hint *ngIf="reqClient !== undefined" class="text-orange">{{reqClient['status']}}
              : {{reqClient['result']}}</mat-hint>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" class="mx-2" *ngIf="!saveClient"
                  [disabled]="clientForm.controls['name'].hasError('required')">Добавить
          </button>
          <button mat-raised-button type="submit" color="primary" class="mx-2" *ngIf="saveClient"
                  [disabled]="clientForm.controls['name'].hasError('required')">Сохранить
          </button>
        </form>
      </mat-sidenav>
      <div class="container" *ngIf="clients.length">
        <form [formGroup]="deviceForm" (ngSubmit)="addDevice()" class="device-form">
          <mat-form-field>
            <input matInput placeholder="Местоположение" name="placement" formControlName="placement">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Название" name="productName" formControlName="productName" required>
            <mat-hint *ngIf="reqDevice === undefined && !did">Добавить новое устройство</mat-hint>
            <mat-hint *ngIf="reqDevice === undefined && did">Сохранить изменения</mat-hint>
            <mat-hint *ngIf="reqDevice !== undefined" class="text-orange">{{reqDevice['status']}}
              : {{reqDevice['result']}}</mat-hint>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="URL" name="url" formControlName="url" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="SN" name="serialNumber" formControlName="serialNumber" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Артикул" name="article" formControlName="article">
          </mat-form-field>
          <mat-checkbox class="mx-2" formControlName="enabled">Активное</mat-checkbox>
          <button mat-raised-button type="submit" color="primary" class="mx-2"
                  [disabled]="deviceForm.controls['productName'].hasError('required')
                  || deviceForm.controls['url'].hasError('required')
                  || deviceForm.controls['serialNumber'].hasError('required')">
            Добавить
          </button>
        </form>
        <div class="my-2">
          <button mat-raised-button (click)="editDevice()" color="accent" class="mx-2" *ngIf="did"
                  [disabled]="deviceForm.controls['productName'].hasError('required')
                  || deviceForm.controls['url'].hasError('required')
                  || deviceForm.controls['serialNumber'].hasError('required')">
            Сохранить
          </button>
          <button mat-raised-button color="warn" (click)="clear('device')" class="float-right">Сброс</button>
        </div>
        <div class="my-2">Выключенные<mat-slide-toggle
          class=""
          [checked]="isDevOn === 1"
          (change)="toggle()"
        >
          Активные
        </mat-slide-toggle></div>
        <table class="device-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Местоположение</th>
              <th>Название</th>
              <th>URL</th>
              <th>Серийный номер</th>
              <th>Артикул</th>
              <th>-</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of devices">
            <td>{{item['id']}}</td>
            <td>{{item['placement']}}</td>
            <td>{{item['productname']}}</td>
            <td>{{item['url']}}</td>
            <td>{{item['sn']}}</td>
            <td>{{item['article']}}</td>
            <td><button mat-stroked-button color="primary" (click)="edit('device', item['id'])"><mat-icon>edit</mat-icon></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-sidenav-container>
  </ng-container>
</div>
