<app-login (check)="LogIn($event)" *ngIf="!isLogin"></app-login>
<div class="" *ngIf="isLogin">
  <header class="container">
    <div class="float-left py-2">
      <app-companyes [edit]="isEdit" [uid]="uid" (cid)="setId($event)"></app-companyes>
    </div>
    <div class="float-left py-2">
      <app-export *ngIf="cid" [cid]="cid" [interval]="interval"></app-export>
    </div>
    <div class="float-left py-2 mx-2">
      <app-date-interval (data)="interval = $event"></app-date-interval>
    </div>

    <div class="socket-init">
      <button mat-raised-button class="mx-2" *ngIf="uid === 0 && isEdit==='false'" (click)="go('edit')">Правка</button>
      <button mat-raised-button class="mx-2" *ngIf="uid === 0 && isEdit==='true'" (click)="go('view')">Просмотр</button>
      <button mat-raised-button class="mx-2" (click)="logOut()">Выйти</button>
    </div>
  </header>
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" class="p-2 sidenav">
      <div class="container" *ngIf="cid">
        <app-offices [edit]="isEdit" [cid]="cid" (oid)="setId($event)"></app-offices>
      </div>
      <div class="container" *ngIf="oid">
        <app-devices *ngIf="isEdit === 'false'" [cid]="cid" [oid]="oid" (did)="setId($event)"></app-devices>
      </div>
    </mat-sidenav>
    <div class="container">
      <app-info *ngIf="isEdit === 'false' && did" [did]="did" [office]="office" [cid]="cid" [interval]="interval" (date)="setId($event)"></app-info>
      <app-device-manage *ngIf="isEdit === 'true' && oid" [edit]="isEdit" [cid]="cid" [oid]="oid"></app-device-manage>
    </div>

    <div class="console">
      <mat-card>
        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <h5 mat-line>{{message}}</h5>
          </mat-list-item>
        </mat-list>
        <div class="p-2">
          <mat-icon>message</mat-icon>
          <mat-form-field>
            <input matInput
                   #inputMessage
                   placeholder="Введите сообщение"
                   [(ngModel)]="messageContent"
                   (keyup.enter)="sendMessage(messageContent)"
            >
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-container>
</div>
