<mat-list role="list" class="dateList">
  <h4>Даты:</h4>
  <ng-scrollbar appearance="standart">
    <mat-list-item *ngFor="let info of infos, let i = index" role="listitem"
                   (click)="setDate(info['datetime']);"
                   [ngClass]="data===info['datetime'] ? 'cursor-pointer active': 'cursor-pointer'">
      {{info['datetime'] | date:'yyyy-MM-dd HH:mm:ss'}}
    </mat-list-item>
  </ng-scrollbar>
</mat-list>
<div class="device-info">&nbsp;
  <ng-container *ngIf="info">
    <div class="btnGetInfo">
      <button mat-raised-button color="primary" [disabled]="btn_disable" (click)="sendQuery()">Получить данные
        устройства
      </button>
    </div>
    <h3>Состояние устройства</h3>
    <mat-card class="mb-2">
      <p class="text_dark-blue"><strong>{{office}} - {{info['placement']}} </strong> <small> {{data | date:'yyyy-MM-dd HH:mm:ss'}}</small></p>
      <h2>{{info['productname']}}</h2>
      <p><span class="text_light-grey">Статус: </span> <strong><span class="text-orange">{{info['status']}}</span>
        <span *ngIf="info['error']" class="error-text">{{info['error']}}</span></strong></p>
      <p><span class="text_light-grey">Серийный номер: </span> <strong>{{info['sn']}}</strong></p>
      <p><span class="text_light-grey">Сетевой адрес: </span> <strong>{{info['url']}}</strong></p>
    </mat-card>
    <ng-container *ngIf="info['printcycles']">
      <h3>Показания счетчиков</h3>
      <mat-card class="mb-2">
        <p>
          <mat-icon class="tooltip-info_icon" matTooltip="Количество распечатанных страниц"
                    matTooltipPosition="above"
                    matTooltipClass="tooltip-info"
          >help_outline
          </mat-icon>
          <span class="text_light-grey">Цикл механизма: </span>
          <strong>{{info['printcycles']}}</strong></p>
        <p *ngIf="info['kit']">
          <mat-icon class="tooltip-info_icon" matTooltip="Счетчик сервисного комплекта"
                    matTooltipPosition="above"
                    matTooltipClass="tooltip-info"
          >help_outline
          </mat-icon>
          <span class="text_light-grey">Счетчик технического обслуживания: </span>
          <ng-container *ngIf="info['kit']">
            <strong>
              <ng-container *ngIf="info['kit'][0]['adfCycles']">{{info['kit'][0]['adfCycles']}}</ng-container>
              <ng-container
                *ngIf="info['kit'][0]['maintenanceKitCount']">{{info['kit'][0]['maintenanceKitCount']}}</ng-container>
            </strong>
          </ng-container>
        </p>
        <p *ngIf="info['scancycles']">
          <mat-icon class="tooltip-info_icon" matTooltip="Количество отсканированных страниц"
                    matTooltipPosition="above"
                    matTooltipClass="tooltip-info"
          >help_outline
          </mat-icon>
          <span class="text_light-grey">Цикл сканирования: </span>
          <strong>{{info['scancycles']}}</strong></p>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="info['cartridge']">
      <h3>Тонер</h3>
      <mat-card class="mb-2">
        <ng-container *ngFor="let color of info['cartridge']">
          <p *ngIf="color['black']">Черный картридж {{color['black'].replace('%', '')}}%<br><br>
            <mat-progress-bar mode="determinate" [value]="color['black'].replace('%', '')"
                              color="warn"></mat-progress-bar>
          </p>
          <p *ngIf="color['yellow']">Желтый картридж {{color['yellow'].replace('%', '')}}<br><br>
            <mat-progress-bar mode="determinate" [value]="color['yellow'].replace('%', '')"
                              color="warn"></mat-progress-bar>
          </p>
          <p *ngIf="color['magenta']">Пурпурный картридж {{color['magenta'].replace('%', '')}}<br><br>
            <mat-progress-bar mode="determinate" [value]="color['magenta'].replace('%', '')"
                              color="warn"></mat-progress-bar>
          </p>
          <p *ngIf="color['blue']">Голубой картридж {{color['blue'].replace('%', '')}}<br><br>
            <mat-progress-bar mode="determinate" [value]="color['blue'].replace('%', '')"
                              color="warn"></mat-progress-bar>
          </p>
        </ng-container>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="info['log']">
      <h3>Лог</h3>
      <mat-card class="mb-2">
        <table>
          <tbody>
          <tr *ngFor="let log of info['log']">
            <td>{{log['date']}}</td>
            <td>{{log['message']}}</td>
          </tr>
          </tbody>
        </table>
      </mat-card>
    </ng-container>
  </ng-container>
</div>
